* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 1rem;
  background: hsl(234, 29%, 20%);
  color: hsl(234, 29%, 20%);
}

main {
  margin: 220px 0;
}

section {
  background: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  padding: 24px;
  margin: auto;
  width: 930px;
  border-radius: 2rem;
}

.form-container {
  padding: 40px;
}

.illustration-sign-up-desktop {
  width: 46%;
}

.illustration-sign-up-mobile {
  display: none;
}

h1 {
  font-size: 3.5rem;
}

form {
  padding-top: 20px;
  padding-right: 20px;
}

ul {
  padding: 20px 0;
  list-style-image: url("../assets/images/icon-list.svg");
  list-style-position: inside;
}

li {
  padding: 5px 0;
}

li span {
  padding-left: 10px;
  position: relative;
  top: -5px;
}

p {
  line-height: 1.4;
}

button {
  color: hsl(0, 0%, 100%);
  background: hsl(234, 29%, 20%);
  font-family: "Roboto", serif;
  font-size: 15px;
  font-weight: 700;
  border-radius: 8px;
  padding: 20px;
  border: none;
  width: 100%;
  line-height: 1.1;
  letter-spacing: 0.5px;
}

label {
  font-weight: 700;
  font-size: 12px;
}

input[type=email] {
  display: block;
  margin: 10px 0 20px;
  width: 100%;
  border-radius: 8px;
  padding: 18px;
  border: 1px solid hsl(0, 0%, 58%);
  color: hsl(234, 29%, 20%);
  font-size: 1rem;
}

#emailField.error {
  border: 1px solid hsl(4, 100%, 67%);
  color: hsl(4, 100%, 67%);
  background: hsla(4, 100%, 67%, 0.15);
}

button.active {
  background-image: linear-gradient(to right, #ff5476, hsl(4, 100%, 67%));
}

.error-msg {
  float: right;
  padding-top: 4px;
  color: hsl(4, 100%, 67%);
}

.subscription-success-section {
  display: none;
  flex-direction: column;
  width: 505px;
  padding: 50px 64px 64px;
}

.icon-success {
  width: 60px;
}

.subscription-success-section h1 {
  padding: 40px 0 24px;
  line-height: 1;
}

.subscription-success-section p {
  padding-bottom: 41px;
  line-height: 1.45;
}

#confirmationEmail {
  font-weight: 700;
}

@media screen and (max-width: 431px) {
  body {
    background: hsl(0, 0%, 100%);
  }
  main {
    margin: 0;
  }
  section {
    flex-direction: column;
    width: auto;
    padding: 0;
  }
  .form-container {
    padding: 35px 0 35px 25px;
  }
  .subscription-success-section {
    padding: 0 25px;
    width: auto;
    margin-top: 150px;
  }
  h1 {
    font-size: 2.5rem;
  }
  .illustration-sign-up-desktop {
    display: none;
  }
  .illustration-sign-up-mobile {
    display: block;
  }
  ul {
    list-style-position: outside;
    padding-left: 25px;
  }
  li {
    padding-left: 10px;
  }
  li span {
    padding-left: 0;
  }
  #dismissBtn {
    margin-top: 260px;
  }
}