@media screen and (max-width: 431px){
    body {
        background: $neutral_white;
    }
    
    main {
        margin: 0;
    }
    
    section {
        flex-direction: column;
        width: auto;
        padding: 0;
    }

    .form-container {
        padding: 35px 0 35px 25px;
    }

    .subscription-success-section {
        padding: 0 25px;
        width: auto;
        margin-top: 150px;
    }

    h1 {
        font-size: 2.5rem;
    }

    .illustration-sign-up-desktop {
        display: none;
    }

    .illustration-sign-up-mobile {
        display: block;
    }

    ul {
        list-style-position: outside;
        padding-left: 25px;
    }

    li {
        padding-left: 10px;
    }

    li span {
        padding-left: 0;
    }

    #dismissBtn {
        margin-top: 260px;
    }
}