@import './config';

main {
    margin: 220px 0;
}

section {
    background: $neutral_white;
    display: flex;
    justify-content: center;
    padding: 24px;
    margin: auto;
    width: 930px;
    border-radius: 2rem;
}

.form-container {
    padding: 40px;
}

.illustration-sign-up-desktop {
    width: 46%;
}

.illustration-sign-up-mobile {
    display: none;
}

h1 {
    font-size: 3.5rem;
}

form {
    padding-top: 20px;
    padding-right: 20px;
}

ul {
    padding: 20px 0;
    list-style-image: url('../assets/images/icon-list.svg');
    list-style-position: inside;
}

li {
    padding: 5px 0;
}

li span {
    padding-left: 10px;
    position: relative;
    top: -5px;
}

p {
    line-height: 1.4;
}

button {
    color: $neutral_white;
    background: $neutral_blue_800;
    font-family: "Roboto", serif;
    font-size: 15px;
    font-weight: 700;
    border-radius: 8px;
    padding: 20px;
    border: none;
    width: 100%;
    line-height: 1.1;
    letter-spacing: .5px;
}

label {
    font-weight: 700;
    font-size: 12px;
}

input[type=email] {
    display: block;
    margin: 10px 0 20px;
    width: 100%;
    border-radius: 8px;
    padding: 18px;
    border: 1px solid $neutral_grey;
    color: $neutral_blue_800;
    font-size: 1rem;
}

#emailField.error {
    border: 1px solid $primary_red;
    color: $primary_red;
    background: hsl(4deg 100% 67% / 15%);
}

button.active {
    background-image: linear-gradient(to right, #ff5476, hsl(4, 100%, 67%));
}

.error-msg {
    float: right;
    padding-top: 4px;
    color: $primary_red;
}

.subscription-success-section {
    display: none;
    flex-direction: column;
    width: 505px;
    padding: 50px 64px 64px;
}

.icon-success {
    width: 60px;
}

.subscription-success-section h1 {
    padding: 40px 0 24px;
    line-height: 1;
}

.subscription-success-section p {
    padding-bottom: 41px;
    line-height: 1.45;
}

#confirmationEmail {
    font-weight: 700;
}

@import './mobile';